.diy-container {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  background-color: darkred;
  flex-direction: column;
  overflow: hidden;
  padding: 15px 20px;

  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  .action {
    border: 2px solid rgb(252,218,151);
    border-radius: 6px;
    text-align: center;
    width: 60px;
    padding: 3px 0;
    color: rgb(252,218,151);
  }

  .content {
    flex-shrink: 1;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    // touch-action: none;
    // border: 1px solid darkblue;
  }

  .droppable {
    position: relative;
  }

  .mode-select {
    display: flex;
    justify-content: flex-start;
  }

  .divider {
    width: 2px;
    margin: 8px 8px;
    background-color: #ccc;
  }

  .mode-item {
    color: #ccc;
    margin: 4px 0;
  }

  .active-mode {
    color: rgb(252,218,151);
  }

  .footer-imgs {
    // height: 160px;
    // border: 1px solid #ccc;
    display: flex;
    overflow: scroll;
    column-gap: 8px;
    height: 80px;
    justify-content: flex-start;
  }

  .footer-item-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: rgb(33, 33, 33);
    flex-grow: 1;
    flex-basis: 20px;
    justify-content: center;
  }

  .template-img {
    height: 100%;
  }

  .preview {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .show-hisName {
    font-size: 18px;
    color: gold;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .show-YourName {
    font-size: 18px;
    color: gold;
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 0;
    right: 0;
  }

  .line {
    margin-top: 10px;
    height: 2px;
    background-color: gold;
    flex: 1;
  }

  .preview-footer {
    // height: 190px;
    flex-grow: 1;
    padding-top: 30px;
    box-sizing: border-box;
    display: flex;
  }

  .save-tip {
    color: gold;
    font-size: 16px;
    margin: 0 10px;
  }

  .go-prev {
    // margin-left: -16px;
    // background-color: rgb(33, 33, 33);
    color: #FFF;
    display: flex;
    align-items: center;
  }

  .go-next {
    // margin-right: -16px;
    // background-color: rgb(33, 33, 33);
    color: #FFF;
    display: flex;
    align-items: center;
  }
}
